<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add book</title>
</head>
<body>
    <h1>Add New Book</h1>

    <form method="POST">
        <input name="name" placeholder="Book name"><br><br>
        <input name="author" placeholder="author"><br><br>
        <select name="point">
            <option value"1">1 ⭐</option>
            <option value"2">2 ⭐</option>
            <option value"3">3 ⭐</option>
            <option value"4">4 ⭐</option>
            <option value"5">5 ⭐</option>
        </select><br><br>
        <button type="submit">Add</button>
    </form>
    
    <br>
    <a href="/books">Turn back</a>
</body>
</html>